.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right .fighter-preview___img{
  transform: scale(-1, 1);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview___info{
  background-color: darkred;
  padding-left: 5%;
  border-radius: 5px;
}

.fighter-preview___info > p{
  color: black;
  font-family: Verdana;
  font-size: 1rem;
  font-weight: 700;
  text-transform: capitalize;
}